# Node modules
node_modules/

# Environment files
.env

# Logs
*.log

# Build directories
/dist
/build

# Dependency directories
/bower_components

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.swp
.vercel
